body {
    padding-top: 50px;
    padding-bottom: 50px;
}

#donation {
    color: #fff;
    letter-spacing: 2px;
    margin-top: 10px;
}

.starter-template {
    padding: 0px 0px;
}

.navbar-default {
    background-color: #fff;
}

.nav > li > a:hover {
    background-color: transparent;
    border-bottom: thin solid #039;
}

.navbar-nav {
    float: right;
}

a.navbar-brand {
    font-size: x-large;
    color: #999;
}

.container {
    padding: 0px 0px 0px 0px;
}

#class-content {
    margin-top: 5px;
    overflow: auto;
}

#codebar {
    margin-top: 20px;
}

form {
}

input {
    margin-top: 10px;
}

#results {
    margin-top: 3.25em;
}

#results pre {
    border: thin solid #ccc;
    background-color: transparent;
    overflow: auto;
    max-height: 7.75em;
}

.CodeMirror {
    text-align: left;
    border: solid thick #aaa;
    max-height: 70%;
}

#form_commands {
    margin-right: 1em;
    display: inline;
    float: right;
}

#code_commands {
    display: inline;
    margin-left: 1em;
    float: left;
}

#ide_commands {
    margin-top: 5px;
}

#ide_commands .btn {
    color: #000;
    border-color: #888;
    background-color: #eee;
}


#ide_commands .btn:hover {
    background-color: #aaa;
}
